<div class="row">
  <div class="col-md-12">
    <div class="card demo-icons">
      <div class="card-header">
        <h5 class="card-title">Module de Gestion</h5>
        <p class="card-category">
        </p>
      </div>
      <div class="card-body all-icons">
        <div id="icons-wrapper">
          <section>
            <ul>
              <li>
                <i class="nc-icon nc-badge"></i>
                  <p><a href='#/Compte'>Gestion Compte</a></p>
              </li>
              <li>
                <i class="nc-icon nc-album-2"></i>
                <p>Gestion Articles</p>
              </li>
              <li>
                <i class="nc-icon nc-alert-circle-i"></i>
                <p><a href='#/Catalogue'>Gestion Catalogues</a></p>
              </li>
              <li>
                <i class="nc-icon nc-align-center"></i>
                <p>Gestion Objectifs</p>
              </li>
              <li>
                <i class="nc-icon nc-align-left-2"></i>
                <p>Gestion Stocks</p>
              </li>
              <li>
                <i class="nc-icon nc-ambulance"></i>
                <p>Gestion Documents Ventes</p>
              </li>
              <li>
                <i class="nc-icon nc-app"></i>
                <p>Gestion des tournées</p>
              </li>
              <li>
                <i class="nc-icon nc-atom"></i>
                <p>Gestion actions Commerciales</p>
              </li>
              <li>
                <i class="nc-icon nc-badge"></i>
                <p>Gestion des recouvrements</p>
              </li>
              <li>
                <i class="nc-icon nc-bag-16"></i>
                <p>Gestions des Camionnettes et tracking</p>
              </li>
              <li>
                <i class="nc-icon nc-bank"></i>
                <p>Gestion Zone </p>
              </li>
              <li>
                <i class="nc-icon nc-bag-16"></i>
                <p><a href='#/inscripClient'>Inscription Client</a></p>
              </li>
              <li>
                <i class="nc-icon nc-bank"></i>
                <p><a href='#/inscripCommercial'>Inscription Commercial</a></p>
              </li>
              
              
              <!-- list of icons here with the proper class-->
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
