<div class="row">
  <div class="col-md-12">
    <div class="card demo-icons">
      <div class="card-header">
        <h5 class="card-title">Module de Gestion</h5>
        <p class="card-category">
        </p>
      </div>
      <div class="card-body all-icons">
        <div id="icons-wrapper">
          <section>
            <ul>
            <li>
                <i class="nc-icon nc-briefcase-24"></i>
                <p><a href='#/Catalogue'>Gestion actions Commerciales</a></p>
              </li>
            <li>
                <i class="nc-icon nc-cart-simple"></i>
                <p><a href='#/article'>Gestion Articles</a></p>
              </li>
              <li>
                <i class="nc-icon nc-align-left-2"></i>
                <p><a href='#/Catalogue'>Gestion Catalogues</a></p>
              </li>
              <li>
                <i class="nc-icon nc-paper"></i>
                <p><a href='#/Catalogue'>Gestion Documents Ventes</a></p>
              </li>
              <li>
                <i class="nc-icon nc-delivery-fast"></i>
                <p><a href='#/camionnette'>Gestions Camionnettes et tracking</a></p>
              </li>
              <li>
                <i class="nc-icon nc-badge"></i>
                  <p><a href='#/Compte'>Gestion Compte</a></p>
              </li>
              <li>
                <i class="nc-icon nc-money-coins"></i>
                <p><a href='#/recouvrement'>Gestion des recouvrements</a></p>
              </li>
               <li>
                <i class="nc-icon nc-app"></i>
                <p><a href='#/Catalogue'>Gestion Stocks</a></p>
              </li>
              <li>
                <i class="nc-icon nc-bus-front-12"></i>
                <p><a href='#/tourne'>Gestion des tournées</a></p>
              </li>
              <li>
                <i class="nc-icon nc-calendar-60"></i>
                <p><a href='#/objectifs'>Gestion Objectifs</a></p>
              </li>
              <li>
                 <i class="nc-icon nc-pin-3"class="nc-icon nc-pin-3"></i>
                <p><a href='#/Catalogue'>Gestion Zone </a></p>
                
              </li>
              <li>
                <i class="nc-icon nc-single-02"></i>
                <p><a href='#/inscripClient'>Inscription Client</a></p>
              </li>
              <li>
                <i class="nc-icon nc-single-02"></i>
                <p><a href='#/inscripCommercial'>Inscription Commercial</a></p>
              </li>
              
              
              
              <!-- list of icons here with the proper class-->
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
