 <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Camionnette</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="FormCamion">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Matricule</label>
                <input type="text" class="form-control" placeholder="Matricule" required formControlName='Matricule'>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Concessionnaire</label>
                <input type="text" class="form-control" placeholder="Concessionnaire" required formControlName='Concessionnaire'>
              </div>
            </div>
          </div>
         <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Type</label>
                <input type="text" class="form-control" placeholder="Type" required formControlName='Type'>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="button" (click)='Enregistrer()' class="btn btn-primary btn-round" >Creer</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>